.mapped-menu {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding-bottom: 25px;

}

#menu-img {
    border: 1px solid gray;
    border-radius: 20px;
    width: 17vw;
    height: 17vh;
}