@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
.App {
  text-align: center;
  background-color: #DDC6A0;

  
}

h1 {
  color: #DDC6A0;
  font-size: 65px;
}

h2 {
  color: #3F3F3F;
}

h3 {
  color: #585858;
}

h4 {
  color: #2B223B;
}


body {
  font-family: 'Dosis', sans-serif;
}